<!DOCTYPE html>
<html>
<head>
  <title>ActiveAdvertising</title>
  <%= stylesheet_link_tag    "active_advertising/application", media: "all" %>
  <%= javascript_include_tag "active_advertising/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
